<html>
<head>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>Dark Brew Cafe</title>

    <script language="JavaScript">
		function showform(dowhat) {
			if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse and insert
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function updateCustomer(customer_id) { showform('update'); }
    function deleteCustomer(customer_id) { showform ('delete'); }
    function browseCustomers() { showform ('browse'); }
</script>
</head>




<body onload="browseCustomers()">
    <header>
        <h1 class="heading">Dark Brew Cafe</h1>
        <nav class="navigation">
            <a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/items">Items</a> | <a href="/locations">Locations</a> | <a href="/orders">Orders</a> | <a href="/order_details">Order Details</a>
        </nav>
    </header>

    <h2 class="center">Customers</h2>

    <!---- BROWSE -->
    <div id ="browse" class="center">
        <table border="1" cellpadding="10">
        <!-- Access data tuple passed from app.py --> 
        {% if Customers %}
            <thead>
            <tr>
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Birthdate</th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <!-- Now, iterate through every person in Customers -->
            {% for customer in Customers %}
            <tr>
                <!-- Then iterate through every key in the current person dictionary -->
                {% for key in customer.keys() %}

                <!-- Create a <td> element with the value of that key in it -->
                    <td>{{customer[key]}}</td>
                {% endfor %}

                <!-- Create edit/delete buttons -->
                <td><a href="/edit_customer/{{customer.customer_id}}" class="btn btn-default">Edit</a></td>
                <td><a href="/delete_customer/{{customer.customer_id}}" class="btn btn-default">Delete</a></td>
            </tr>
            </tbody>
            {% endfor %}
        {% endif %} 
        </table>
    </div>

    <!---- Search -->
    <div id="search" class="center">
        <form method="post" action="/customers/search_last_name">
        <legend><strong>Search Customer</strong></legend>
        <fieldset>
            <label> Search by Last Name</label>
            <input type="text" name="search" required>
        </fieldset>
            <input type="submit" value="Search">
        </form>

    </div>    

    <!---- INSERT -->
    <div id="insert" class="center">
        <form method="POST" id="addCustomer" action="/customers">
            <legend><strong>Add Customer</strong></legend>
            <fieldset class="fields">
                <label> First Name </label> <input type="text" name="insert_first_name_field" required>
                <label> Last Name </label> <input type="text" name="insert_last_name_field" required>
                <label> Email </label> <input type="email" name="insert_email_field" required>
                <label> Birthdate </label> <input type="date" name="insert_birthdate_field" required>
            </fieldset>
                <input class="btn" type="submit" id="addCustomer" value="Add Customer" name="add_customer">
            </form> 
    </div>



    
</body>
</html>