<html>
<head>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>Dark Brew Cafe</title>
</head>

<body>
    <h2 class="center">Edit Item</h2>
    <!-- DISPLAYS THE ROW THAT IS CURRENTLY BEING EDITED -->
    <div class="center">
        <table border="1" cellpadding="5">
            {% if Items %}
                <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in Items %}
                    <tr>
                        {% for key in item.keys() %}
                            <td>{{item[key]}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
                    {% endfor %}
            {% endif %}
        </table>
    </div>


    <!-- EDIT CUSTOMERS FORM-->
    <div id="edit" class="center">
        <form id="editItem" action="/edit_item/{{Items[0].item_id}}" method="POST">
            <legend><strong>Edit Item</strong></legend>
            <fieldset>
                <input type="hidden" value="{{Items[0].item_id}}" id="item_id" name="item_id" required>

                <label for="item_name"> Item Name</label>
                <input type="text" value="{{Items[0].item_name}}"  id="item_name" name="item_name" required>

                <label for="item_price"> Item Price </label>
                <input type="number" step="0.01" min="0" value="{{Items[0].item_price}}" id="item_price" name="item_price" required>
            </fieldset>

            <input type="submit" value="Edit Item" name="edit_item" class="btn btn-primary">
            <a href='/items'><input class="btn" type="button" value="Cancel"></a>
        </form>
    </div>

</html>