<html>
<head>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>Dark Brew Cafe</title>

    <script language="JavaScript">
		function showform(dowhat) {
			if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse and insert
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function updateItem(item_id) { showform('update'); }
    function deleteItem(item_id) { showform ('delete'); }
    function browseItems() { showform ('browse'); }
</script>
</head>



<body onload="browseItems()">
    <header>
        <h1 class="heading">Dark Brew Cafe</h1>
        <nav class="navigation">
            <a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/items">Items</a> | <a href="/locations">Locations</a> | <a href="/orders">Orders</a> | <a href="/order_details">Order Details</a>
        </nav>
    </header>
    <h2 class="center">Items</h2>

    <!---- BROWSE -->
    <div id ="browse" class="center">
        <table border="1" cellpadding="10">
        {% if Items %}
            <thead>
            <tr>
                <th>Item ID</th>
                <th>Name</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for item in Items %}
            <tr>
                {% for key in item.keys() %}
                    <td>{{item[key]}}</td>
                {% endfor %}

                <!-- Create edit/delete buttons -->
                <td><a href="/edit_item/{{item.item_id}}" class="btn btn-default">Edit</a></td>
                <td><a href="/delete_item/{{item.item_id}}" class="btn btn-default">Delete</a></td>
            </tr>
            </tbody>
            {% endfor %}
        {% endif %} 
        </table>
    </div>


    <!---- INSERT -->
    <div id="insert" class="center">
        <form method="POST" id="addItem" action="/items">
            <legend><strong>Add Item</strong></legend>
            <fieldset class="fields">
                <label> Item Name </label> <input type="text" name="item_name" required>
                <label> Item Price </label> <input type="number" step="0.01" min="0" name="item_price" required>
            </fieldset>
                <input class="btn" type="submit" id="addItem" value="Add Item" name="add_item">
            </form> 
    </div>

</body>
</html>