<html>
<head>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>OSU - CS 340 - Introduction to Databases - Flask Demo Project</title>
</head>


<body>
    <header>
        <h1 class="heading">Dark Brew Cafe</h1>
        <nav class="navigation">
            <a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/items">Items</a> | <a href="/locations">Locations</a> | <a href="/orders">Orders</a> | <a href="/order_details">Order Details</a>
        </nav>
    </header>

    <h2 class="center">Welcome</h2>
    <br/>
    <p class="center">
    <u><b>About Dark Brew Cafe</b></u>
    <br/>
    <br/>
    Dark Brew Cafe is a small business chain that serves food and beverage items to customers. 
    Dark Brew Cafe started as a small business with a single location in San Diego, CA in 2019. 
    Since then, Dark Brew Cafe has expanded and now has 5 locations in Southern California and serves an average of 10,000 customers per day. 
    Dark Brew Cafe has also implemented a new account system which gives customers the option to create a member account with the company. 
    With this account, customers can receive emails with exclusive special offers like birthday discounts. 

    <br/>
    <br/>
    <br/>
    <br/>
    <u><b>About the Database</b></u>
    <br/>
    <br/>
    <b>Customers:</b> Records the information about customers that choose to create an account: first name, last name, email, and birthdate.
    <br/>
    <br/>
    <b>Items:</b> Records information about items on the menu: item name and the current item price.
    <br/>
    <br/>
    <b>Locations:</b> Records information about business locations: location name.
    <br/>
    <br/>
    <b>Orders:</b> Records information about orders that have been placed: the date the order was placed, the location it was placed for, the customer account linked to the order(if there is one), and the total amount of that order.
    <br/>
    <br/>
    <b>Order Details (Intersection Table)</b>: Records infomation about the details of each order: the associated order, the items placed in the order, 
    the quantity of items placed in the order, the price of the item at the time the order was placed, and the total amount for the item. 
    </p>
</body>
</html>